
/* ------- Définition de constante pour les thèmes de couleur ------- */
:root {
  --recherche-box-couleur: hsl(192, 10%, 90%);
  --recherche-box-couleur-hover:hsl(0, 0%, 80%);
  --barre-nav:#FFF;
  --option-button:#278783;
  --option-button-hover:rgb(17, 112, 107);
  --contenu-calendrier-periode:#fde3c1;
  --sidebar-color: #FFF;
  --btn-dropdwon: black;
  --fond-dropdown-menu:#FFF;
  --fond-dropdown-menu-hover:#f1f1f1;
  --overlay-couleur: rgba(70, 70, 70, 0.5);
  --box-shadow-couleur: 2px 2px 10px #f6dec0;
  --barre-nav-color:#fdd39b;
  --periode-evenement-color : #f0b466;
  --periode-evenement-color-hover :#eeac55;
  --sous-titre-color : rgb(123, 118, 109);

  --body-color:#FFF;
  --primary-color: #FFEBD0;
  --primary-color-light: #fff7ec;
  --toggle-color: #DDD;
  --text-color: #404040;

  --transition-03 : all 0.3s ease;
  --transition-04 : all 0.4s ease;
  --transition-05 : all 0.5s ease;

}


li, a, button {
  font-weight: 500;
  font-size: 16px;
  text-decoration: none; 
}

button {
  border: 0;
  background: var(--thead-bg);
  color:#f1f1f1;
}

body{
  background-color: var(--primary-color) !important; /* Écraser le fond par défaut de bootstrap */
}

#page{
    height: 100vh;
    background: var(--bd-color);
}


/* ------- Sidebar ------- */
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 16.5em;
    background-color: var(--sidebar-color);
    transition: var(--transition-05);
    padding: 20px 15px;
    z-index: 100;
}

.sidebar.reduit{
  width:5em;
}

.sidebar.reduit .text,
.sidebar.reduit .switch,
.sidebar.reduit .menu-bar .mode-luminosite .toggle-switch,
.sidebar.reduit .recherche-box input,
.sidebar.reduit  .dropdown-btn  a .toggle-arrow {
  opacity:0;
}

.sidebar.reduit .switch,
.sidebar.reduit .menu-bar .mode-luminosite .toggle-switch{
  position: absolute;
  left:0em;
}

.sidebar.reduit .toggle{
  position: absolute;
  right:-0.6em;
  z-index: 150;
}


.sidebar.reduit header .toggle{
  transform: translateY(-50%);
}


body.mode-sombre .sidebar header .toggle{
  transform: rotate(180deg);
}



.sidebar .image-text{
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.sidebar li{
    height: 50px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.sidebar .nom-projet{
  color: var(--text-color);
}

.sidebar li .icons,
.sidebar li .text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:20px;
    color: var(--text-color);
    min-width: 50px;
    transition: opacity ease 0.3s, color ease 0.2s;
}



.sidebar li a{
    text-decoration: none;
    height:100%;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 6px;
    transition: var(--transition-03);
    cursor:pointer;
}

.sidebar li a:hover {
    background: var(--option-button);
}

.sidebar li a:hover .icons,
.sidebar li a:hover .text,
.sidebar .dropdown-btn a:hover .toggle-arrow{
    color: var(--primary-color-light);
}

.sidebar .recherche-box{
    background-color: var(--recherche-box-couleur);
    border-radius: 6px;
    width: 100;
    cursor: pointer;
    transition: background-color ease 0.3s, width ease 0.5s;
}

.recherche-box input{
    height:100%;
    width: 100%;
    background-color: var(--recherche-box-couleur);
    transition: var(--transition-03);
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    outline: none;
    border: none;
    opacity:1;
}

.sidebar header{
    position: relative;

}

.sidebar .toggle{
    position: absolute;
    top: 2em;
    right:-0.5em;
    transform: translateY(-50%);
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 50%;
    background: var(--option-button);
    font-size: 22px;
    transition: background-color ease 0.3s, all ease 0.4s;
    cursor:pointer;
}

.sidebar .toggle:hover{
    background: var(--option-button-hover);
}

.sidebar .text{
    font-size: 16px;
    font-weight: 500;
    transition: var(--transition-04);
    white-space: nowrap;  
    overflow: hidden;     
} 

.sidebar .logo img {
    width:4.5em;
    border-radius: 6px;
    position: relative;
    right:0.6em
}

.sidebar .sous-menu .compte {
  display: flex;
  align-items: center;
  color: var(--text-color);
  transition: opacity ease 0.3s, color ease 0.2s;
}
.sidebar .sous-menu .compte .dropdown-button {
  position: relative;
  left:0.35em;
}
.sidebar .sous-menu .compte span {
  margin-left: 0.5em;
  font-size: 20px;
}

.sidebar .sous-menu #log-out {
  position: relative;
}

/* ------- Bouton dropdown-menu ------- */

.sidebar .dropdown-btn  a .toggle-arrow {
  font-size: 1.5em;
  color: var(--text-color);
  transition: var(--transition-03);
}

.sidebar .sub-menu {
  display: grid;
  grid-template-rows: 0fr;
  position: relative;
  left: 3em;
  padding: 0;
  width: max-content;
  transition: var(--transition-03);
  > div {
    overflow: hidden;
  }
}

.sidebar .sub-menu li span {
  color: var(--text-color);
  padding: 0.5em;
  padding-right: 4em;
  padding-left: 1em;
  border-radius: 15px;
  transition: var(--transition-03);
  cursor:pointer;
  width: 10em;
}

.sidebar .sub-menu li span:hover {
  color: var(--primary-color-light);
  background-color: var(--option-button);
}

.sidebar .sub-menu.show {
  position: relative;
  grid-template-rows: 1fr;
}

.toggle-arrow.rotate {
  transform: rotate(180deg);
}

.sidebar .sub-menu li span {
  font-size:18px;
}

.dropdown-btn {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.dropdown-btn li {
  flex-grow: 5;
}

.dropdown-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  width: 2.5em;
  background-color: var(--option-button);
  border: 0;
  border-radius: 100px;
  padding: 5px;
  transition: var(--transition-03);
}



/* Affiche le menu dropdown lorsqu'il est actif */
.dropdown-menu.active {
  display: block;
  border-radius: 5px;
  background-color: var(--fond-dropdown-menu);
}

.dropdown-menu li a {
  display: flex;
  align-items: center;
  padding: 5px 15px;
  color:black;
  cursor: pointer;
  text-decoration: none;  
  font-size: 13.6px;
}

.dropdown-menu li #deconnection {
  border-top: rgb(171, 171, 171) solid;
  
}

.dropdown-menu li:hover {
  background-color: var(--fond-dropdown-menu-hover);
}
/* ------- Fin Bouton dropdown-menu ------- */

.sidebar .menu-bar{
    height: calc(100% - 3em);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:0.5em;
}

.menu-bar .mode-luminosite{
    position: relative;
    border-radius: 6px;
    background-color: var(--recherche-box-couleur);
}

.menu-bar .sous-menu{
    border-top: var(--text-color) solid;
    margin-bottom: 1em;
    padding-top: 10px; /* Ajoute de l'espace sous la bordure */
}

.menu-bar .mode-luminosite i{
    position: absolute;
}

.menu-bar .mode-luminosite .moon-sun{
    width: 3em;
    display: flex;
    align-items: center;
}

.menu-bar .mode-luminosite i.lune{
    opacity: 0;
}

.menu-bar .mode-luminosite .toggle-switch {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 4.5em;
   
}

.toggle-switch .switch{
    position: relative;
    height: 1.5em;
    width: 3em;
    border-radius: 25px;
    background-color: #bfbfbf;
    cursor:pointer;
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 25px;
    background-color: white;
    top:50%;
    left: 5px;
    transform: translateY(-50%);
    transition: var(--transition-03);
}

body.mode-sombre .switch::before{
  left: 1.8em;
  background-color: #333;
}


/* ------- Fin Sidebar ------- */


/* ------- Mode sombre  ------- */

body.mode-sombre{
    --body-color:#242526;
    --sidebar-color: #242526;
    --primary-color: #3F403B;
    --toggle-color: #FFF;
    --contenu-calendrier-periode:#6d665e;
    --legend-color: #CCC;
    --text-color:#CCC;
    --box-shadow-couleur: 2px 2px 10px #655e55;
    --btn-dropdwon:#CCC;
    --recherche-box-couleur:#3A3B3C;
    --option-button:rgb(138, 138, 165);
    --option-button-hover:rgb(87, 87, 105);
    --barre-nav:rgb(64, 64, 64);
    --primary-color-light: #4f4d49;
    --fond-dropdown-menu:#efefef;
    --fond-dropdown-menu-hover:#181818;
    --barre-nav-color:#3f3930;
    --type-color:#312d27; 
    --label-color:#f5f2f2;
    --periode-evenement-color: #48453f; 
    --periode-evenement-color-hover: #56524b;
    --sous-titre-color :rgb(183, 177, 166);
  }

body.mode-sombre .menu-bar .mode-luminosite i.soleil{
    opacity: 0;
}

body.mode-sombre .menu-bar .mode-luminosite i.lune{
  opacity: 100;
}

body.mode-sombre .sidebar header .toggle {
  color: var(--text-color);
}

/* ------- Fin Mode sombre  ------- */

/* -------Contenu relié au calendrier ------- */

.contenu-calendrier-periode {
  position: relative;
  display: flex;
  flex-direction: row;
  gap:10.5em;
  left: 5em;
  height: 100%;
  width: calc(100% - 5em);
  background-color: var(--primary-color);
  transition: var(--transition-05);
}

.liste-periode {
  position: relative;
  height: 90%;
  width: 30%;
  left:3em;
  top: 2.5em;
  background-color: var(--contenu-calendrier-periode);
  border-radius: 5px;
  box-shadow: var(--box-shadow-couleur);
  display: flex;
  flex-direction: column;
  transition: var(--transition-03);
}

.contenu-calendrier {
  position: relative;
  height: 90%;
  width: 70%;
  top: 2.5em;
  right: 3em;
  background-color: var(--contenu-calendrier-periode);
  border-radius: 5px;
  box-shadow: var(--box-shadow-couleur);
  transition: var(--transition-03);
}

.conteneur-calendrier {
  height: 92%;
  overflow-y: auto; 
  background-color: var(--contenu-calendrier-periode);
  box-shadow: var(--box-shadow-couleur);
}

.contenu-calendrier-periode .liste-periode .barre-nav {
  margin-bottom: 2em;
}

.contenu-calendrier-periode .liste-periode #btn-filtrer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  width: 5em;
  background-color: var(--option-button);
  border-radius: 100px;
  transition: var(--transition-03);
  cursor: pointer;

}

.contenu-calendrier-periode .liste-periode .btn-creer-periode {
  position: absolute;
  right: 1.5em;
  top: 0em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  width: 2.5em;
  margin-top:0.8em;
  margin-left:1.5em;
  border-radius: 100px;
  background-color: var(--option-button);
  transition: var(--transition-03);
  cursor: pointer;
}

.contenu-calendrier-periode .liste-periode #btn-filtrer:hover,
.contenu-calendrier-periode .liste-periode .btn-creer-periode:hover,
.contenu-calendrier-periode .contenu-calendrier .btn-creer-evenement:hover,
.btn-nav-semaine:hover  {
  background-color: var(--option-button-hover);
}

.contenu-calendrier-periode .liste-periode .titre {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  color: var(--text-color);
  transition: var(--transition-03);
}

.contenu-calendrier-periode .liste-periode .titre #sous-titre {
  color: var(--sous-titre-color);
  transition: var(--transition-03);
  font-size: 90%;
}


.contenu-calendrier-periode .liste-periode .contenu-periode{
  display: flex;
  align-items: center;
  height: 4.5em;
  background-color: var( --periode-evenement-color);
  margin-bottom:2em;
  margin-left: 1em;
  margin-right: 1em;
  border-radius: 15px;
  padding:0.5em;
  gap:2em;
  transition: background-color ease 0.3s, var(--transition-04);
}
.contenu-calendrier-periode .liste-periode .contenu-periode:hover,
.contenu-calendrier-periode .liste-periode .contenu-periode:hover .description {
  transform: scale(1.05);  
  font-weight: 500;
}

.contenu-calendrier-periode .liste-periode .contenu-periode #categorie-image {
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: #278783;
  border-radius: 15px;
  width: 3.5em;
  height: 3.5em;
}


.contenu-calendrier-periode .liste-periode .contenu-periode #categorie-image img {
  margin-left: auto;
  height: 3em;
  width: 3em;
}

.contenu-calendrier-periode .liste-periode .contenu-periode .description {
  display: flex;
  flex-direction: column;
  font-size: small;
  gap: 0.5em;
  width: fit-content;
  transition: var(--transition-03);
  color: var(--text-color);
}


.contenu-calendrier-periode .contenu-calendrier .barre-nav,
.contenu-calendrier-periode .liste-periode .barre-nav {
  display: flex;
  align-items: center;
  height: 4em;
  background-color: var(--barre-nav-color);
  justify-content: space-between;
  padding: 25px;
  font-family: Arial, Helvetica, sans-serif;
  transition: var(--transition-03);
}

.contenu-calendrier-periode .contenu-calendrier .btn-creer-evenement {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  width: 2.5em;
  border-radius: 100px;
  background-color: var(--option-button);
  transition: var(--transition-03);
  cursor: pointer;
}

.contenu-calendrier-periode .contenu-calendrier .barre-nav .scroll-date {
  display: flex;
  background-color: var(--option-button);
  height: 2.5em;
  width: fit-content;
  border-radius: 15px;
  align-items: center;
  justify-content: center;  
}
.contenu-calendrier-periode .contenu-calendrier .barre-nav .scroll-date button{
  display: flex;
  font-size: 22px;
}

.contenu-calendrier-periode .contenu-calendrier .barre-nav .format #info-semaine-container{
  display: flex;
  align-items: center;
  height: 2.5em;
  width: 30%;
 
}

#btn-aujourdhui{
  font-size: 14px;
  text-decoration: none;
}

.btn-nav-semaine{
  height: 1.5em;
  border-radius: 15px;
  align-items: center;
}

/* Conteneur du calendrier (GridLayout) */

.calendrier {
  display: grid;
  grid-template-columns: 100px repeat(7, 1fr);
  border: 1px solid #ccc;
  font-family: sans-serif;
}

.jour-calendrier {
  font-weight: bold;
  background-color: #f0f0f0;
  text-align: center;
  padding: 5px;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.calendrier-ligne {
  display: contents;
}

.cell {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  height: 60px;
  position: relative;
  background-color: var(--contenu-calendrier-periode);
  transition: var(--transition-03);
}

.heure-cell {
  background-color: #f9f9f9;
  text-align: center;
  font-size: 12px;
}

.heure-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.periode {
  background-color: var(--periode-evenement-color);
  color: var(--text-color);
  width: 90%;
  top: 2px;
  left: 5%;
  padding: 5px;
  border-radius: 4px;
  font-size: 12px;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  transition: var(--transition-03), box-shadow 0.2s ease;
  cursor: pointer;
}

.periode:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background-color: var(--periode-evenement-color-hover );
}

#format-semaine, #format-mois {
  height: 2.5em;
  width: 100%;
  border-radius: 25px;

  align-items: center;
  justify-content: center;
  background-color: var(--option-button);
  cursor: pointer;
}

.format-style {
  width: 8em;
}

.menu-quitter {
  display: none; /* Caché par défaut */
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  height: 10em;
  width: 15em;
  top: 20em;
  left: 42vw;
  background-color: var(--body-color);
  border-radius: 10px;
  color: var(--text-color);
  padding:20px;
  border: var(--primary-color-light) 2px solid;
  box-shadow: 1px 1px 1px  var(--primary-color-light);
  z-index: 201;
}


.menu-quitter .contenu-btn {
  display: flex;
  justify-content: space-between;
  padding-left:15px;
  padding-right:15px;
  border-radius: 10px;
  font-size: 20px;

}

.menu-quitter .contenu-btn button {
  padding-left:20px;
  padding-right:20px;
  border-radius: 10px;
  font-size: 20px;
  background-color: var(--recherche-box-couleur);
  color: var(--text-color);
  transition: var(--transition-03);
}

.menu-quitter .contenu-btn #btn-quitter {
  background-color: var(--option-button);
  color:white;
}


.menu-quitter .contenu-btn #btn-quitter:hover {
  background-color: var(--option-button-hover);

}

.menu-quitter .contenu-btn #btn-quitter:hover,
.menu-quitter .contenu-btn #btn-annuler:hover {
  transform: scale(1.1);
}

.menu-quitter .contenu-btn #btn-annuler:hover {
  background-color: var( --fond-dropdown-menu-hover);
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--overlay-couleur);
  display: none; /* Caché par défaut */
  z-index: 200;
}
/* -------Fin Contenu relié au calendrier ------- */